@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  overflow-y: scroll; // 스크롤바 생성과 관계없이 고정 가능
}
.topbanner {
  width: 100%;
  background-color: bisque;
  background-image: url(image/photo-1644596102282-a4df5383807d.jfif);
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
}
.topbanner-contents {
  position: absolute;
  bottom: 5%;
  width: 80%;
  text-align: center;
  color: white;
  h1 {
    font-weight: 700px;
  }
}
.container {
  text-align: left;
}
.container-box {
  margin-top: 120px;
  max-width: 1320px;
  button {
    margin-right: 10px;
  }
  .price {
    font-weight: 700;
  }
}
.loading-button {
  max-width: 100%;
  margin-top: 140px;
}
@media screen and (min-width: 1400px) {
  .topbanner-contents {
    max-width: 1320px;
  }
  .container-contents {
    margin-bottom: -100px;
  }
}
@media screen and (max-width: 768px) {
  .topbanner-contents {
    max-width: 80%;
  }
  .container-contents {
    margin-bottom: -100px;
    .container-contents-text {
      padding: 0;
    }
  }
  .container {
    text-align: center;
  }
  .container-box-detail {
    position: static;
    bottom: 0px;
  }
}
